//- display structure
#display
    .label latestPrice:
    #latest-price-display.display
    .label Current sellHead:
    #sell-head-display.display
    .label Current buyHead:
    #buy-head-display.display
    #separator-line
    .label Primary Asset Dif:
    #primary-asset-dif-display.display
    .label Secondary Asset Dif:
    #secondary-asset-dif-display.display
